QZ.Test.Client/Service References/TradeAnalysis/TradeAnalysisService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://entprise.qianzhan.com/TradeAnalysisService" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TradeAnalysisService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="TradeAnalysisService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://entprise.qianzhan.com/TradeAnalysisService" location="http://192.168.2.200:8936/TradeAnalysisService?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="TradeAnalysisService" type="i0:TradeAnalysisService">
    <wsp:PolicyReference URI="#TradeAnalysisService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AnalysisForwardTrade">
      <soap12:operation soapAction="http://entprise.qianzhan.com/TradeAnalysisService/TradeAnalysisService/AnalysisForwardTrade" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnalysisForwardTradeList">
      <soap12:operation soapAction="http://entprise.qianzhan.com/TradeAnalysisService/TradeAnalysisService/AnalysisForwardTradeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnalysisExhibitionTrade">
      <soap12:operation soapAction="http://entprise.qianzhan.com/TradeAnalysisService/TradeAnalysisService/AnalysisExhibitionTrade" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnalysisExhibitionTradeList">
      <soap12:operation soapAction="http://entprise.qianzhan.com/TradeAnalysisService/TradeAnalysisService/AnalysisExhibitionTradeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnalysisProductAndTrade">
      <soap12:operation soapAction="http://entprise.qianzhan.com/TradeAnalysisService/TradeAnalysisService/AnalysisProductAndTrade" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnalysisProductAndTradeList">
      <soap12:operation soapAction="http://entprise.qianzhan.com/TradeAnalysisService/TradeAnalysisService/AnalysisProductAndTradeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnalysisAllTrade">
      <soap12:operation soapAction="http://entprise.qianzhan.com/TradeAnalysisService/TradeAnalysisService/AnalysisAllTrade" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnalysisAllTradeList">
      <soap12:operation soapAction="http://entprise.qianzhan.com/TradeAnalysisService/TradeAnalysisService/AnalysisAllTradeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllForwardTradeCategory">
      <soap12:operation soapAction="http://entprise.qianzhan.com/TradeAnalysisService/TradeAnalysisService/GetAllForwardTradeCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllExhibitionCategory">
      <soap12:operation soapAction="http://entprise.qianzhan.com/TradeAnalysisService/TradeAnalysisService/GetAllExhibitionCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TradeAnalysisService">
    <wsdl:port name="TradeAnalysisService" binding="tns:TradeAnalysisService">
      <soap12:address location="net.tcp://192.168.2.200:8935/TradeAnalysisService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.2.200:8935/TradeAnalysisService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>