QZ.Test.Client/Service References/EnterpriseService/Enterprise1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9081/Enterprise.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" />
  <xs:element name="Index">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q1:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IndexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="IndexResult" nillable="true" type="q2:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Index_Pics">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Index_PicsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Index_PicsResult" nillable="true" type="q3:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Area">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AreaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="AreaResult" nillable="true" type="q4:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Fresh">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_FreshResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_FreshResult" nillable="true" type="q5:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Dtl_Simple">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q6:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Dtl_SimpleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_Dtl_SimpleResult" nillable="true" type="q7:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Query">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q8:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_QueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_QueryResult" nillable="true" type="q9:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Detail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q10:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_DetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_DetailResult" nillable="true" type="q11:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Trades">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q12:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_TradesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_TradesResult" nillable="true" type="q13:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Recommend">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_RecommendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_RecommendResult" nillable="true" type="q14:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Intelli_Tip">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q15:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Intelli_TipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_Intelli_TipResult" nillable="true" type="q16:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_FavoriteScan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q17:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_FavoriteScanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_FavoriteScanResult" nillable="true" type="q18:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Invest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q19:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_InvestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_InvestResult" nillable="true" type="q20:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Map">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q21:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_MapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_MapResult" nillable="true" type="q22:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Stock_Holder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q23:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Stock_HolderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_Stock_HolderResult" nillable="true" type="q24:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_CetificationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q25:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_CetificationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_CetificationListResult" nillable="true" type="q26:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_CertificateDtl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_CertificateDtlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_CertificateDtlResult" nillable="true" type="q27:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_RegList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q28:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_RegListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_RegListResult" nillable="true" type="q29:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_InvList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q30:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_InvListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_InvListResult" nillable="true" type="q31:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_InvDtl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ogs_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_InvDtlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_InvDtlResult" nillable="true" type="q32:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Change">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q33:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_ChangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_ChangeResult" nillable="true" type="q34:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Icpl">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q35:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_IcplResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_IcplResult" nillable="true" type="q36:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Branch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q37:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_BranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_BranchResult" nillable="true" type="q38:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Annual">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q39:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_AnnualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_AnnualResult" nillable="true" type="q40:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Annual_Detail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q41:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Annual_DetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_Annual_DetailResult" nillable="true" type="q42:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Impression">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q43:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_ImpressionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_ImpressionResult" nillable="true" type="q44:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_New_Topic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q45:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_New_TopicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_New_TopicResult" nillable="true" type="q46:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Reply">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q47:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_ReplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_ReplyResult" nillable="true" type="q48:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Fresh_Topic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q49:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Fresh_TopicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_Fresh_TopicResult" nillable="true" type="q50:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Topic_Query">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q51:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Topic_QueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_Topic_QueryResult" nillable="true" type="q52:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Topic_Detail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q53:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Topic_DetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_Topic_DetailResult" nillable="true" type="q54:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Favorite_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q55:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Favorite_AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_Favorite_AddResult" nillable="true" type="q56:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Favorite_Remove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q57:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Favorite_RemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_Favorite_RemoveResult" nillable="true" type="q58:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Report_Send">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q59:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Report_SendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_Report_SendResult" nillable="true" type="q60:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query_Hot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pg_size" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query_HotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Query_HotResult" nillable="true" type="q61:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtQuery_Hot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="q_type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pg_size" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtQuery_HotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="ExtQuery_HotResult" nillable="true" type="q62:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Topic_UpDown_Vote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q63:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Topic_UpDown_VoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_Topic_UpDown_VoteResult" nillable="true" type="q64:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_UpDown_Vote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q65:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_UpDown_VoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_UpDown_VoteResult" nillable="true" type="q66:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Correct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q67:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_CorrectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_CorrectResult" nillable="true" type="q68:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query_Brand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q69:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query_BrandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Query_BrandResult" nillable="true" type="q70:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Patent_Query">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q71:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Patent_QueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Patent_QueryResult" nillable="true" type="q72:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Patent_Dtl">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q73:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Patent_DtlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Patent_DtlResult" nillable="true" type="q74:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Brand_Dtl">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q75:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Brand_DtlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Brand_DtlResult" nillable="true" type="q76:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Patent_Universal_Query">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q77:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Patent_Universal_QueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Patent_Universal_QueryResult" nillable="true" type="q78:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Judge_Query">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q79:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Judge_QueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Judge_QueryResult" nillable="true" type="q80:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Judge_Detail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q81:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Judge_DetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Judge_DetailResult" nillable="true" type="q82:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Dishonest_Detail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q83:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Dishonest_DetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Dishonest_DetailResult" nillable="true" type="q84:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Dishonest_Query">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q85:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Dishonest_QueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Dishonest_QueryResult" nillable="true" type="q86:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Patent_Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q87:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Patent_GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Patent_GetResult" nillable="true" type="q88:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Brand_Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q89:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Brand_GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Brand_GetResult" nillable="true" type="q90:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_ScoreMark">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q91:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_ScoreMarkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_ScoreMarkResult" nillable="true" type="q92:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_ScoreDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q93:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_ScoreDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_ScoreDetailResult" nillable="true" type="q94:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Judge_Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q95:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Judge_GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Judge_GetResult" nillable="true" type="q96:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Dishonest_Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q97:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Dishonest_GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Dishonest_GetResult" nillable="true" type="q98:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Copyrights_Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q99:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Copyrights_GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Copyrights_GetResult" nillable="true" type="q100:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_TradeInfos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_TradeInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_TradeInfosResult" nillable="true" type="q101:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_TradeSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q102:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_TradeSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_TradeSearchResult" nillable="true" type="q103:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_ProInfos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_ProInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_ProInfosResult" nillable="true" type="q104:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_ProSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q105:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_ProSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_ProSearchResult" nillable="true" type="q106:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Comment_TipOff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q107:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Comment_TipOffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Comment_TipOffResult" nillable="true" type="q108:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Comment_Shield">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q109:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Comment_ShieldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Comment_ShieldResult" nillable="true" type="q110:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_FwdTradeSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q111:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_FwdTradeSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_FwdTradeSearchResult" nillable="true" type="q112:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_ExhTradeSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q113:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_ExhTradeSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_ExhTradeSearchResult" nillable="true" type="q114:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Exhibit_Participate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q115:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Exhibit_ParticipateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_Exhibit_ParticipateResult" nillable="true" type="q116:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Exhibit_Detail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q117:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Exhibit_DetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Exhibit_DetailResult" nillable="true" type="q118:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Exhibit_Companies">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q119:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Exhibit_CompaniesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Exhibit_CompaniesResult" nillable="true" type="q120:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_TradeIntelliTip">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q121:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_TradeIntelliTipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_TradeIntelliTipResult" nillable="true" type="q122:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_UniversalTradeSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q123:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_UniversalTradeSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_UniversalTradeSearchResult" nillable="true" type="q124:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Search4Exhibit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="request" nillable="true" type="q125:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Company_Search4ExhibitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/QZ.Service.Enterprise" minOccurs="0" name="Company_Search4ExhibitResult" nillable="true" type="q126:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>